@import "variables";
@import "mixins";

.btn-add {

	width: $btn-width;
	height: $btn-height;
	color: $white;
	background-color: $green;
	@include border-radius(4px);
    margin-left: 15px;
    font-size: $btn-font-size;
    border: none;
}