//Color values
$color-purple: #663399;
$white: white;
$color-green: #109C4A;
$color-red: #cf150a;
//header values
$header-height: 60px;

//Btn default values 

$btn-height: 40px;
$btn-width: 80px;


//Typography
$btn-font-size: 14px;
$header-h1: 28px;
$input-base-size: 16px;