@import "variables";
@import "buttons";
@import "table-layout";
@import "layout";
@import "mixins";

.task-list-container{

}

.task-list{
}

.list-item {

    padding: 15px 10px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;

	span{
		padding-right: 15px;
	}
}

.delete {
	margin-left: 15px;
}

